---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   20px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "layout",
  "syntax-highlighting"
;

a{
	background-image: linear-gradient(to right, rgba(111, 111, 111, 0) 50%, rgba(222, 222, 222, 1) 50%);
	background-size: 200%;
  transition: background-position .25s, padding-right .25s, padding-left .25s;
	background-position: 0 0;
}
a:hover{
	background-position: -100% 0;
	text-decoration: none;
  padding-right: 6px;
  padding-left: 6px;
} 

hr{
	border: 0 none;
	height: 1px;
	background-color: $grey-color-light;
	margin:15px 0;
  clear: both;
}

.pullleft{
  float:left;
  margin-right: 20px;
}
.pullright{
  float: right;
  margin-left: 20px;
}
aside{
  width:40%;
}
.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border .2s ease-in-out
}

.thumbnail a>img, .thumbnail>img {
  margin-right: auto;
  margin-left: auto;
}

a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
  border-color: #337ab7
}

.thumbnail .caption {
  padding: 9px;
  color: #333;
}